{% macro meetup(page) %}
<div class="block">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <a href="https://www.meetup.com/rust-edi/events/289582990/">
            <i class="fa-solid fa-person-chalkboard"></i> {{ page.title }}</a
          >
        </p>
        <button class="card-header-icon">
          <a href="https://www.meetup.com/rust-edi/events/289582990/">
            <span class="icon is-medium">
              <i class="fa-brands fa-meetup fa-2x"></i>
            </span>
          </a>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
            {{ page.content | safe }}
            <br />
            <a href="#2022-12-01">
            <time datetime="2022-12-01"
                ><i class="fa-solid fa-calendar-day"></i> 1st December
                2022</time
            >
            </a>
        </div>
      </div>
    </div>
  </div>
{% endmacro meetup %}