<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- HTML Meta Tags -->
    <title>{% block title %}{% endblock title %}</title>
    <meta
      name="description"
      content="Website for the Rust language community in Edinburgh"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://rustandfriends.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Rust and Friends" />
    <meta
      property="og:description"
      content="Website for the Rust language community in Edinburgh"
    />
    <meta
      property="og:image"
      content="https://rustandfriends.org/assets/images/hill_logo_meetup1.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="rustandfriends.org" />
    <meta property="twitter:url" content="https://rustandfriends.org" />
    <meta name="twitter:title" content="Rust and Friends" />
    <meta
      name="twitter:description"
      content="Website for the Rust language community in Edinburgh"
    />
    <meta
      name="twitter:image"
      content="https://rustandfriends.org/images/hill_logo_meetup1.png"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <link
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
      rel="stylesheet"
    />
    <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/regular.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.min.css" rel="stylesheet" />
    <script defer>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Add a click event on each of them
        $navbarBurgers.forEach((el) => {
          el.addEventListener("click", () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });
      });
    </script>
    <script defer data-domain="rustandfriends.org" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://rustandfriends.org/">
            <i class="fa-brands fa-rust fa-2x"></i>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarMenu"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start"></div>

          <div class="navbar-end">
            <div class="navbar-item">
              <a href="https://www.youtube.com/@rustandfriendsorg">
                <span class="icon is-medium">
                  <i class="fa-brands fa-youtube fa-2x"></i>
                </span>
              </a>
            </div>
            <div class="navbar-item">
              <a href="https://www.meetup.com/rust-edi/">
                <span class="icon is-medium">
                  <i class="fa-brands fa-meetup fa-2x"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <figure class="image">
        <img
          srcset="
            /images/hill_logo_meetup1_header2.960x335.webp  960w,
            /images/hill_logo_meetup1_header2.webp         1200w
          "
          sizes="(min-width: 1420px) 1344px, (min-width: 1220px) 1152px, (min-width: 1040px) 960px, 100vw"
          src="/images/hill_logo_meetup1_header2.webp"
        />
      </figure>
      <div class="columns">
        <div class="column is-two-thirds">
          {% block body %}
          {% endblock body %}
        </div>
        <div class="column">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Last updated on {{ now() | date(format="%e %B %Y") }} at {{ now() | date(format="%l:%M%P") }}
        </p>
      </div>
    </footer>
    <script defer>
      const youtube_iframes = Array.from(
        document.getElementsByClassName("youtube")
      );
      youtube_iframes.forEach((youtube_iframe) => {
        const data_src = youtube_iframe.getAttribute("data-src");
        if (data_src) {
          youtube_iframe.setAttribute("src", data_src);
        }
      });
    </script>
  </body>
</html>
