{% extends "base.html" %}
{% import "page_macros.html" as page_macros %}

{% block body %}
{{ page_macros::meetups() }}
{% endblock body %}

{% block sidebar %}
<section class="section">
  <a name="about"></a>
  <h2 class="title is-2">About Us</h2>
  <div class="content">
    <p>
      Rust is growing, increasingly powered by its many and varied application areas. 
      This <a href="https://www.meetup.com/rust-and-friends/">"Rust and Friends" group</a> is about catering to the interests of people who just want to apply it, 
      as well as those who want to learn more about the core language itself.
    </p>
    
    <p>For a taste of what to expect, see some of our past talks (<a href="https://www.youtube.com/@rustandfriendsorg" target="_blank">Youtube</a>), 
      but also see areas we'll hope to cover, like 
      <a href="https://arewegameyet.rs" target="_blank">Gaming</a> / 
      <a href="https://www.arewewebyet.org" target="_blank">Web</a> / 
      <a href="https://www.arewelearningyet.com" target="_blank">ML/AI</a> / 
      <a href="https://datawithrust.com" target="_blank">Data</a> / 
      <a href="https://areweguiyet.com" target="_blank">Gui</a>s.
    </p>
    
    <p>
      We believe the Rust language and community can benefit anyone regardless of their level of ability or prior experience. 
      <a href="https://rustandfriends.org">"Rust and Friends"</a> is a local / online Meetup intended to help us achieve that goal.
    </p>

    <p>For all meetings and interactions we follow <a href="https://www.rust-lang.org/policies/code-of-conduct" target="_blank"">Rust Lang Code of Conduct</a>.
    </p>
  </div>
</section>
<section class="section">
  <a name="history"></a>
  <h3 class="title is-3">History</h3>
  <div class="content">
    <p>
      The
      <a href="https://www.meetup.com/rust-edi/">
        <span class="icon">
          <i class="fa-brands fa-meetup"></i>
        </span>
        Meetup
      </a>
      was originally started in 2017 (it's believed this was by
      members of <a href="http://codeplay.com/">Codeplay</a> and
      <a href="http://maidsafe.net/">MaidSafe</a>). These Meetups ran
      through 2018, but there was then a hiatus.
    </p>
    <p>
      In 2020, the Meetup was taken over by Matt and
      <a href="https://www.houseofmoran.com">Mike</a> when the main
      Meetup group lost an owner. They managed to get a couple of
      <i class="fa-solid fa-keyboard"></i> Implementation Nights under
      their belt, but unbeknownst to them, this was on the cusp of
      COVID. So, they had to switch quickly to online only.
    </p>
    <p>
      During 2021/2022, most of the Meetups were opportunistic
      <i class="fa-solid fa-beer-mug-empty"></i> Beer Evenings /
      <i class="fa-solid fa-mug-hot"></i> Coffee Mornings with the
      occasional online Meetup. It was hard to predict when venues
      would be available or advisable.
    </p>
    <p>
      In 2022, their was more interest in community in meeting up
      physically, and also some availability of venues, so we ended
      the year with our first physical talk since 2018!
    </p>
  </div>
</section>
<section class="section">
  <h3 class="title is-3">Kinds of Meetup</h3>
  <div class="content">
    <dl>
      <dt>
        <i class="fa-solid fa-person-chalkboard"></i> Presentations /
        <i class="fa-solid fa-comments"></i> Discussions:
      </dt>
      <dd>
        Focussed on particular topics. Sometimes hosted, sometimes
        online. These sometimes appear on
        <a href="https://www.youtube.com/@rustedinburgh7116"
          >our <i class="fa-brands fa-youtube"></i> YouTube channel</a
        >.
      </dd>

      <dt>
        <i class="fa-solid fa-beer-mug-empty"></i> Beer /
        <i class="fa-solid fa-mug-hot"></i> Coffee get-togethers:
      </dt>
      <dd>
        Simple get-togethers for the community to chat about Rust and
        related topics.
      </dd>

      <dt>
        <i class="fa-solid fa-keyboard"></i> Implementation Nights:
      </dt>
      <dd>
        People bring along any work in progress or anything they'd
        like help with. Peers are there to help, so that we could work
        through any problems together.
      </dd>
    </dl>
  </div>
</section>
{% endblock sidebar %}